body {
    background-color: #f3f5fc;
    }

.rectangle{ /*RECTANGULO DE INGRESO DE TEXTO*/
    position: absolute;
    width: 500px;
    height: 400px;
    left: 250px;
    top: 40px;
    background: #f3f5fc;
    /*box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);*/
    /*border-radius: 32px;*/
    border: 2px solid #f3f5fc;
    text-align: left;
    /*line-height: 50px;*/
    color: #0A3871;
    font-family: arial;
    font-size: 20pt;
    outline: none;
    }

.rectangle1{ /*RECTANGULO DE SALIDA DE TEXTO*/
    position: absolute;
    width: 400px;
    height: 400px;
    left: 800px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: 2px solid #f3f5fc;
    text-align: center;
    /*line-height: 50px;*/
    color: #0A3871;
    outline: none;
    }

.rectangle::placeholder {
    font-weight: bold;
    opacity: 0.2;
    color: #0A3871;
}


.rectangle1::placeholder {
    font-weight: bold;
    opacity: 0.2;
    color: black;
}



.button {
  border: none;
  color: white;
/*  padding: 14px 70px;*/
  text-align: center;
  text-decoration: none;
/*  display: inline-block;*/
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 18px;
}

.button1 {
  position:absolute;
  padding: 14px 70px;
  display: flex;
  left: 20%;
  bottom: 10%;
  background-color: #0A3871;
  color: white;
  border: 2px solid #0A3871;
}

.button1:hover {
  background-color: white;
  color: #0A3871;
}

.button2 {
  position:absolute;
  padding: 14px 58px;
  display: flex;
  left: 36%;
  bottom: 10%;
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: white;
  color: #008CBA;
}

.button3 {
  position:absolute;
  padding: 14px 58px;
  display: flex;
  right: 19%;
  bottom: 10%;
  background-color: rgb(156, 171, 179);
  color: white;
  border: 2px solid rgb(156, 171, 179);
}

.button3:hover {
  background-color: white;
  color: rgb(156, 171, 179);
}